body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #1E3A8A;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #1E3A8A;
    border-bottom: 2px solid #e0e0e0;
}

nav h1 {
    font-size: 24px;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #1E3A8A;
    transition: color 0.3s;
}

nav a:hover {
    color: #2563EB;
}
.rightCorner button {
    padding: 10px 10px;
    background-color: #1E3A8A;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
}
.rightCorner button:hover {
    background-color: #2563EB;
}

.main {
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s;
}


.card:hover {
    transform: scale(1.05);
}

.card a {
    text-decoration: none;
    color: #1E3A8A;
    font-size: 20px;
    font-weight: bold;
    
}
.vertical-line {
    width: 2px;
    background-color: #1E3A8A; /* Blue color */
    margin: 0 20px;
    height: 500px; /* Adjust height as needed */
    display: inline-block;
}



.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.image-container img {
    width: 600px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.image-container continuebtn {
    padding: 10px 10px;
    background-color: #1E3A8A;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
}

.image-container button:hover {
    background-color: #2563EB;
}
